body{
    background-color:#30c9e8;
}
header{
    text-align: center;
    text-shadow: coral;
    font-family: monospace;
    font-size: large;
    padding: 20px; 
}
p {
    text-align: center;
    
}

 div p{
    text-align: center;
    padding-top:50px;
    border: 20px;
 }
#anything {
     margin-left: 50px;
     list-style-type: decimal;
     border: rgb(105, 26, 42);
     margin-top: 20px;
     padding: 20px;
}
#something {
    margin-left: 50px;
    list-style-type: square;
}
header{
    background-color: 6787F0;
}

div{
    background-color: 02A2C0;
}
main p:first-child{
    border-style: groove;
    border-color:6787F0;
    margin: 0px;
}
#top{
    border-style: solid;
    border-color:92A9F5;
    border-width: 10px;
    border-radius: 1%;
}